p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  text-indent: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-style: normal;
  font-weight: 400;
  text-indent: 15px;
  background-color: #ffffff;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* ------------------------------Header--------------------*/
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}
.page-nav {
  display: flex;
  gap: 40px;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 3%;
  color: #2e2f42;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 3%;
  color: #404bbf;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo::after {
  width: 100%;
  position: absolute;
  bottom: -1px;
  content: "";
}

.page-address {
  font-style: normal;
}
.list-address {
  display: flex;
  gap: 40px;
}
.address-class {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  font-style: normal;
  text-decoration: none;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-class:hover,
.address-class:focus {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #404bbf;
}

.link-menu {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0 24px;
  position: relative;
}
.link-menu::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 4px;
  background: #404bbf;
  border-radius: 2px;
  transition: width 0.3s ease;
}
.link-menu:hover::after {
  width: 100%;
}

.link-menu:hover,
.link-menu:focus {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #404bbf;
}

.link-menu:active {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #404bbf;
  text-decoration: underline;
}

.first-menu-item {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.first-menu-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;

}
/* -------------------------Hero Solutions-------------------*/

.page-title {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
}

.button-order {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  margin-top: 48px;
  background: #4d5ae5;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover,
.button-order:focus {
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*-------------------------Section Features-------------------*/

.icon-box {
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* fill: #f4f4fd; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

.features-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}

.features-list {
  display: flex;
  gap: 24px;
}
.solutions {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-position: center;
  background-size: cover;
  margin: auto;
}
.features-container-list {
  width: calc((100% - 72px) / 4);
}

.features-container {
  margin: 0 auto;
}

/*-------------------------------Team members-------------------------*/

.people {
  display: flex;
  gap: 24px;
}
.team-members {
  background-color: #f4f4fd;
  padding: 120px 0 120px;
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  padding-top: 4px;
  margin-bottom: 72px;
}
.box {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.members-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-members-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  text-align: center;
  padding-bottom: 8px;
}
.member-title {
  padding: 32px 0;
}
.list-team {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-shrink: 0;
  align-self: flex-end;
}

.item-team {
  width: 40px;
  height: 40px;
}

.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition-property: background-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover,
.link-icon:focus {
  background-color: #404bbf;
}
/*--------------------------------Section Portfolio----------------------*/
.portfolio-title-main {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-container {
  margin: 0 auto;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}


.box-portfolio {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-portfolio:hover .overlay-text {
    transform: translateY(0%);
}

.box-portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
  
}
.card-text {
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.box-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 164px;
}

.box-img:hover .overlay {
  transform: translateX(0);
}

/*-----------------------------------Footer--------------------------*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0 100px;
}

.footer-container {
  text-indent: 0;
  display: flex;
  align-items: baseline;
}
.footer-accent {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  color: #f4f4fd;
  text-decoration: none;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.logo-footer-text {
  margin-right: 120px;
}

.list {
  display: flex;
  gap: 16px;
}

.item {
  width: 40px;
  height: 40px;
}
.link-icon-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.link-icon-footer:hover,
.link-icon-footer:focus {
  background-color: #31d0aa;
}



